{% extends 'base.html' %}
{% block title %}Lista de componentes{% endblock %}
{% block content %}

<br>
<table class="table table-bordered">
    <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Descripcion</th>
    </thead>
    <tbody>
        {% for componente in componentes %}
        <tr>
            <td>{{ componente.id }}</td>
            <td>{{ componente.nombre }}</td>
            <td>{{ componente.tipo }}</td>
            <td>{{ componente.descripcion }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}