{% extends 'base.html' %}
{% block title %}Lista de componentes{% endblock %}
{% block content %}


<a href="{{ url_for('create_componente')}}" class="btn btn-success">Agregar Componente</a>
<br>
<table class="table table-bordered">
    <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Descripcion</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        {% for componente in componentes %}
        <tr>
            <td>{{ componente.id }}</td>
            <td>{{ componente.nombre }}</td>
            <td>{{ componente.tipo }}</td>
            <td>{{ componente.descripcion }}</td>
            <td>
                <a href="{{ url_for('delete_componente',id = componente.id)}}" class="btn btn-danger">Eliminar Componente</a>
                <a href="{{ url_for('update_componente',id = componente.id)}}" class="btn btn-success">Actualizar Componente</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}